@import './base.css';

body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #121212;
}

button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  border-radius: 0.4em;
}

button:hover {
  background-color: #3a3a3a;
}
button:active {
  background-color: #4a4a4a;
}
button:focus {
  outline: none;
}
button:disabled {
  background-color: #1a1a1a;
  cursor: not-allowed;
}
button + button {
  margin-left: 1em;
}

input {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: none;
  padding: 10px;
  border-radius: 0.4em;
  width: 100%;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #707070;
}

input[type='radio'] {
  accent-color: #ff4081; /* Modern browsers: custom color */
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  vertical-align: middle;
  cursor: pointer;
}

label input[type='radio'] {
  margin-right: 0.3em;
}

input[type='dropdown'] {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: none;
  padding: 10px;
  border-radius: 0.4em;
  width: 100%;
}
input[type='dropdown']:focus {
  outline: none;
}
input[type='dropdown']::placeholder {
  color: #707070;
}
